* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: clamp(50%, 1% + 1vw, 62.5%);

  --background: hsl(0, 0%, 100%);
  --color-text: hsl(240, 7%, 21%);
  --background-card: hsl(240, 9%, 89%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background: var(--background);
  font-size: 1.6rem;

  display: grid;
  place-content: center;

  height: 100vh;
}

html,
body,
button {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

#app {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  padding: 2.4rem;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#timer {
  display: flex;
  justify-content: center;

  font-size: 12.6rem;
  font-weight: 500;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 2.8rem;
}

#controls button {
  background: transparent;
  border: 0.4rem solid var(--color-text);
  border-radius: 50%;

  font-size: 2.4rem;

  padding: 1.2rem;

  cursor: pointer;
}

#controls button:focus {
  outline: 2px solid;
}

.running .ph-play,
html:not(.running) .ph-pause {
  display: none;
}

#sounds {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.card {
  background: var(--background-card);
  border: 0;
  border-radius: 2.4rem;

  font-size: 5.6rem;

  display: grid;
  place-items: center;

  padding: 4.8rem;

  cursor: pointer;
  transition: filter 0.3s;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.card:hover {
  filter: brightness(0.9);
}

.card::after {
  content: "";

  background: var(--background-card-secondary);
  border-radius: 50%;

  position: absolute;
  left: -50%;
  right: -50%;
  top: -50%;
  bottom: -50%;
  z-index: -1;

  transform: scale(0, 0);
  transition: transform 0.2s;
}

.music-forest .ph-tree,
.music-forest .ph-tree::after,
.music-rain .ph-cloud-rain,
.music-rain .ph-cloud-rain::after,
.music-coffeeShop .ph-storefront,
.music-coffeeShop .ph-storefront::after,
.music-fireplace .ph-fire,
.music-fireplace .ph-fire::after {
  color: white;
  transform: scale(1, 1);
}

@media (min-width: 900px) {
  #app {
    flex-direction: row;
    justify-content: space-between;
    gap: 19.2rem;
  }
}
